flows/Choose_Pricebook_for_Cloned_Opportunity.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <dynamicChoiceSets>
        <name>listOfAccounts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pricebook_List</name>
        <collectionReference>Get_Pricebook_Records</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Pricebook2</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PricebookListTest</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Choose Pricebook for Cloned Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Choose Pricebook for Cloned Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Pricebook_Records</name>
        <label>Get Pricebook Records</label>
        <locationX>311</locationX>
        <locationY>224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Pricebook_for_Cloned_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pricebook2</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_List_Price</name>
        <label>Update List Price</label>
        <locationX>468</locationX>
        <locationY>408</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PricebookListTest</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>RKRKRKRK</stringValue>
            </value>
        </inputAssignments>
        <object>Pricebook2</object>
    </recordUpdates>
    <screens>
        <name>Choose_Pricebook_for_Cloned_Opportunity</name>
        <label>Choose Pricebook for Cloned Opportunity</label>
        <locationX>461</locationX>
        <locationY>229</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_List_Price</targetReference>
        </connector>
        <fields>
            <name>Select_Pricebook</name>
            <choiceReferences>PricebookListTest</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Pricebook</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Please select a Pricebook to update the List Price of Commodity.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Selected_Pricebook_Id</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PricebookListTest</elementReference>
            </defaultValue>
            <fieldText>Selected Pricebook Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>List_Of_Accounts_Test</name>
        <label>List Of Accounts Test</label>
        <locationX>699</locationX>
        <locationY>205</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selected_Account_Id_Test</targetReference>
        </connector>
        <fields>
            <name>List_of_Accounts</name>
            <choiceReferences>listOfAccounts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>List of Accounts</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Selected_Account_Id_Test</name>
        <label>Selected Account Id Test</label>
        <locationX>720</locationX>
        <locationY>382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Selected_Account_Id</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>listOfAccounts</elementReference>
            </defaultValue>
            <fieldText>Selected Account Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Pricebook_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Selected_Pricebook</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Pricebook2</objectType>
    </variables>
</Flow>
