flows/Choose_Pricebook_for_Cloned_Opportunity_V2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_Pricebook_Entry_Available_or_Not</name>
        <label>Check Pricebook Entry Available or Not</label>
        <locationX>338</locationX>
        <locationY>570</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pricebook_Entry_for_Each_OLI.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_List_Price_of_OLI</targetReference>
            </connector>
            <label>If Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>listOfAccounts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pricebook_List</name>
        <collectionReference>Get_Pricebook_Records</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Pricebook2</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PricebookListTest</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Choose Pricebook for Cloned Opportunity V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Choose Pricebook for Cloned Opportunity V2</label>
    <loops>
        <name>Iterate_over_OLI</name>
        <label>Iterate over OLI</label>
        <locationX>248</locationX>
        <locationY>465</locationY>
        <collectionReference>Get_OLI_List</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Pricebook_Entry_for_Each_OLI</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_OLI_List</name>
        <label>Get OLI List</label>
        <locationX>444</locationX>
        <locationY>402</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_OLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricebook_Entry_for_Each_OLI</name>
        <label>Get Pricebook Entry for Each OLI</label>
        <locationX>184</locationX>
        <locationY>573</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Pricebook_Entry_Available_or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PricebookListTest</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_over_OLI.Product2.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricebook_Records</name>
        <label>Get Pricebook Records</label>
        <locationX>311</locationX>
        <locationY>224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Pricebook_for_Cloned_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pricebook2</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_List_Price_of_OLI</name>
        <label>Update List Price of OLI</label>
        <locationX>579</locationX>
        <locationY>717</locationY>
        <connector>
            <targetReference>Iterate_over_OLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_over_OLI.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Dealer_Price__c</field>
            <value>
                <elementReference>Get_Pricebook_Entry_for_Each_OLI.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <screens>
        <name>Choose_Pricebook_for_Cloned_Opportunity</name>
        <label>Choose Pricebook for Cloned Opportunity</label>
        <locationX>461</locationX>
        <locationY>228</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_OLI_List</targetReference>
        </connector>
        <fields>
            <name>Select_Pricebook</name>
            <choiceReferences>PricebookListTest</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Pricebook</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Please select a Pricebook to update the List Price of Commodity.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Current_Oppportunity_Id</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId</elementReference>
            </defaultValue>
            <fieldText>Current Oppportunity Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Pricebook_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>PricebookEntryPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Pricebook</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Pricebook2</objectType>
    </variables>
</Flow>
